<mat-sidenav-container class="layout-container">
  <mat-sidenav mode="side" opened>
    <mat-toolbar color="primary">AuthFlowPro</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/users" routerLinkActive="active">
        <mat-icon>people</mat-icon>
        <span>Users</span>
      </a>
      <a mat-list-item routerLink="/roles" routerLinkActive="active">
        <mat-icon>supervisor_account</mat-icon>
        <span>Roles</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>📋 AuthFlowPro Panel</span>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
